@page "/about"

<PageTitle>Sobre</PageTitle>

<h1>Sobre</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://blog.brkambiental.com.br/wp-content/uploads/2020/05/import%C3%A2ncia-das-barragens.jpg" class="card-img-top" alt="Perfil Anna">
      <div class="card-body">
        <h5 class="card-title">Anna</h5>
        <p class="card-text">Conteúdo sobre a Anna</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/seed/picsum/500" class="card-img-top" alt="Perfil Caetano">
      <div class="card-body">
        <h5 class="card-title">Caetano</h5>
        <p class="card-text">Conteúdo sobre o Caetano</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/seed/picsum/500" class="card-img-top" alt="Perfil Júlia">
      <div class="card-body">
        <h5 class="card-title">Júlia</h5>
        <p class="card-text">Conteúdo sobre a Júlia</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/seed/picsum/500" class="card-img-top" alt="Perfil Marcela">
      <div class="card-body">
        <h5 class="card-title">Marcela</h5>
        <p class="card-text">Conteúdo sobre a Marcela</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/seed/picsum/500" class="card-img-top" alt="Perfil Mariana">
      <div class="card-body">
        <h5 class="card-title">Mariana</h5>
        <p class="card-text">Conteúdo sobre a Mariana</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/seed/picsum/500" class="card-img-top" alt="Perfil Roberta">
      <div class="card-body">
        <h5 class="card-title">Roberta</h5>
        <p class="card-text">Conteúdo sobre a Roberta</p>
      </div>
    </div>
  </div>
</div>
