@page "/donations"

<PageTitle>Doações</PageTitle>

<h1>Doações</h1>

<p>Doações</p>

<div class="text-center">
  <img src="images/donations.jpeg" class="rounded" alt="QrCode Doações">
</div>
