@page "/donations"

<PageTitle>Doações</PageTitle>

<h1>Doações</h1>

<p>Doações</p>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">e-mail:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e-mail@dominio.com.br">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Deixe uma mensagem de solidariedade:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
