@page "/donations"

<PageTitle>Doações</PageTitle>

<h1>Doações</h1>

<p>Doações</p>

<div class="text-center">
  <img src="..." class="rounded" alt="blob:https://web.whatsapp.com/3daac235-702a-4773-8b1e-710189539233">
</div>
