@page "/donations"

<PageTitle>Doações</PageTitle>

<h1>Doações</h1>

<p>Doações</p>

<div class="text-center">
  <img src="https://photos.google.com/share/AF1QipPdkW5CvDmywGcWIV2plJsG95TfPw4-eG9EhVvKqC89oVbXZWfkNFItbUWBZZTqww?key=dEZ5RTNrRTdfckthdl9WRFRIN3JkVHFjZ3BKVzNn" class="rounded" alt="QrCode">
</div>
