@page "/donations"

<PageTitle>Doações</PageTitle>

<h1>Doações</h1>

<p>Doações</p>

<div class="text-center">
  <img src="https://photos.app.goo.gl/MxvLKczQ5JPSR97Q6" class="rounded" alt="QrCode">
</div>
