@page "/"

<PageTitle>Home</PageTitle>

<h1>RUPDAM</h1>

<div class="text-center">
  <img src="images/home.jpeg" class="rounded" alt="Logo App">
</div>
<p>Bem-vindo (a)                                                                                                                                                                                        Nosso aplicativo tem o objetivo de amenizar os danos que as de rupturas de barragens que podem causar na sociedade. Faremos isso com diversas ferramentas como:                                                                                                                                                   CIRENE- Nossa empresa possui instalações de cirenes em todas as regiões de MG.Ela possui a função de alertar-nos quando uma barreira em sua região esteje prestes a etourar para que você possa se retirar enão se tornar uma pessoa afetada. Nosso aplicativo também será ativado nesse momento ativando um som para que você se alerte.        PLUVIÔMETRO: Também intalaremos pluviômetros que medirão especificamente a quantidade de precipitação atmosférica .                                                                                                                                                                                               ABRIGOS: Construiremos abrigos para que pessoas afetadas podem se sentir acolhidas                                                         DOAÇÕES: Caso você queira ajudar-nos nosso aplicativo também irá diponibilizar a chave pix para que você possa fazer doções ajuda-nos a comprar mantimentos e produtos de higiene . Também iremos disponibilizar nosso CEP para que você possa nos mandar doações como roupas que não são mas utilizadas , mantimentos , produtos de higiene e muitas outras coisas através do correio.</p>
